@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

.steamurl-input {
    margin-top: 20px;
}

.steamurl-input input {
    width: 50%;
    margin: 5px;
    display: inline-block;
}

.word-picker {
    width: 100px;
    text-align: center;
}

h2 {
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
}